title{
    color:darkslategray;

}
div{
    font-family: 'Zilla Slab', serif;
    text-align: justify;
    
}
h1{
    font-size: 60px;
}
.name{
    color:lightslategrey
}
.flexible{
    display:flex;
    margin-bottom: 100px;
    
}
.hire{
    background-image: linear-gradient(gray, silver);
    padding: 10px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.979);
    font-weight:900;
    text-decoration: none;
    
}
.widthclass{
    width: 50%;
    padding: 0px 20px 20px 20px;
    
}
.widthclass img{
    width: 95%;
    height: 100%;
}
.one{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
body{
    margin: 0px;
}
.two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#curve{
    border-radius: 20px;
}
.haha{
    color:darkslategray;
    text-align: center;
}
.shadowclass{
    box-shadow: 10px 10px 20px darkslategray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    
}
.three{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 5px;
}
#hard{
    border-left: 10px solid grey;
}
#soft{
    border-left: 10px solid;
    border-image: linear-gradient(#d6a4a4, #dae2f8);
    
    border-image-slice: 1;
    
}
#hard{
    border-left: 10px solid;
    border-image: linear-gradient( #d7dde8, #757f9a);
    border-image-slice: 1;
    
    
}
footer p{
    text-align: center;
    font-size: 15px;
}